body {
    font-size: 1em;
    line-height: 1.4;
	font-family: Arial, Verdana;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

label.extended {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 13px 0 0 4px;
	padding: 1px 1px 1px 4px;
	cursor: text;
	float: none;
	clear: none;
	display: block;
	width: 80%;
	border-radius: 4px;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
}
   
label.green {
	border: 1px solid #2A810A;
	background-color: #BBF980;
}

label.red {
	border: 1px solid #CC0000;
	background-color: #FFAAAA;
}

label.yellow {
	border: 1px solid #BB820A;
	background-color: #FCF77E;
}
   
form { 
	width: 500px; 
}

fieldset {
	padding:10px 30px;
	margin:0;
	border:1px solid #ccc;
	-moz-border-radius:1em;
	-webkit-border-radius:1em;
	border-radius:1em;
	border-bottom-width:10px;
}

input {
	width:250px;
}

input,
textarea {
	border:1px solid #ccc;
	padding:5px;
	margin:10px 0 0 0;
}

textarea {
	width: 250px;
	font:.9em Verdana, Arial, Helvetica, sans-serif;
}

label {
	display:block;
	margin:12px 0 0;
	font-weight:700;
	font-size:.9em;
	float:left;
	clear:left;
	width:120px;
}

button {
	display:block;
	float:left;
	clear:both;
	margin:1em 0 1em 120px;
}

span.glyph
{
	display: inline-block;
	vertical-align: middle;
	width: 17px;
	height: 17px;
	background: url( icons.png );
	margin-right: 4px;
}

span.i_1{background-position: -18px -24px;}
span.i_2{background-position: -60px -24px;}
span.i_3{background-position: -101px -24px;}
span.i_4{background-position: -143px -24px;}
span.i_5{background-position: -185px -24px;}
span.i_6{background-position: -227px -24px;}
span.i_7{background-position: -268px -24px;}
span.i_8{background-position: -310px -24px;}
span.i_9{background-position: -352px -24px;}
span.i_10{background-position: -393px -24px;}
span.i_11{background-position: -18px -66px;}
span.i_12{background-position: -60px -66px;}
span.i_13{background-position: -101px -66px;}
span.i_14{background-position: -143px -66px;}
span.i_15{background-position: -185px -66px;}
span.i_16{background-position: -227px -66px;}
span.i_17{background-position: -268px -66px;}
span.i_18{background-position: -310px -66px;}
span.i_19{background-position: -352px -66px;}
span.i_20{background-position: -393px -66px;}
span.i_21{background-position: -18px -109px;}
span.i_22{background-position: -60px -109px;}
span.i_23{background-position: -101px -109px;}
span.i_24{background-position: -143px -109px;}
span.i_25{background-position: -185px -109px;}
span.i_26{background-position: -227px -109px;}
span.i_27{background-position: -268px -109px;}
span.i_28{background-position: -310px -109px;}
span.i_29{background-position: -352px -109px;}
span.i_30{background-position: -393px -109px;}
span.i_31{background-position: -18px -151px;}
span.i_32{background-position: -60px -151px;}
span.i_33{background-position: -101px -151px;}
span.i_34{background-position: -143px -151px;}
span.i_35{background-position: -185px -151px;}
span.i_36{background-position: -227px -151px;}
span.i_37{background-position: -268px -151px;}
span.i_38{background-position: -310px -151px;}
span.i_39{background-position: -352px -151px;}
span.i_40{background-position: -393px -151px;}
span.i_41{background-position: -18px -190px;}
span.i_42{background-position: -60px -190px;}
span.i_43{background-position: -101px -190px;}
span.i_44{background-position: -143px -190px;}
span.i_45{background-position: -185px -190px;}
span.i_46{background-position: -227px -190px;}
span.i_47{background-position: -268px -190px;}
span.i_48{background-position: -310px -190px;}
span.i_49{background-position: -352px -190px;}
span.i_50{background-position: -393px -190px;}
span.i_51{background-position: -18px -230px;}
span.i_52{background-position: -60px -230px;}
span.i_53{background-position: -101px -230px;}
span.i_54{background-position: -143px -230px;}
span.i_55{background-position: -185px -230px;}
span.i_56{background-position: -227px -230px;}
span.i_57{background-position: -268px -230px;}
span.i_58{background-position: -310px -230px;}
span.i_59{background-position: -352px -230px;}
span.i_60{background-position: -393px -230px;}
span.i_61{background-position: -18px -265px;}
span.i_62{background-position: -60px -265px;}
span.i_63{background-position: -101px -265px;}
span.i_64{background-position: -143px -265px;}
span.i_65{background-position: -185px -265px;}
span.i_66{background-position: -227px -265px;}
span.i_67{background-position: -268px -265px;}
span.i_68{background-position: -310px -265px;}
span.i_69{background-position: -352px -265px;}
span.i_70{background-position: -393px -265px;}
span.i_71{background-position: -18px -307px;}
span.i_72{background-position: -60px -307px;}
span.i_73{background-position: -101px -307px;}
span.i_74{background-position: -143px -307px;}
span.i_75{background-position: -185px -307px;}
span.i_76{background-position: -227px -307px;}
span.i_77{background-position: -268px -307px;}
span.i_78{background-position: -310px -307px;}
span.i_79{background-position: -352px -307px;}
span.i_80{background-position: -393px -307px;}

span.i_1:hover{background-position: -18px -355px;}
span.i_2:hover{background-position: -60px -355px;}
span.i_3:hover{background-position: -101px -355px;}
span.i_4:hover{background-position: -143px -355px;}
span.i_5:hover{background-position: -185px -355px;}
span.i_6:hover{background-position: -227px -355px;}
span.i_7:hover{background-position: -268px -355px;}
span.i_8:hover{background-position: -310px -355px;}
span.i_9:hover{background-position: -352px -355px;}
span.i_10:hover{background-position: -393px -355px;}
span.i_11:hover{background-position: -18px -397px;}
span.i_12:hover{background-position: -60px -397px;}
span.i_13:hover{background-position: -101px -397px;}
span.i_14:hover{background-position: -143px -397px;}
span.i_15:hover{background-position: -185px -397px;}
span.i_16:hover{background-position: -227px -397px;}
span.i_17:hover{background-position: -268px -397px;}
span.i_18:hover{background-position: -310px -397px;}
span.i_19:hover{background-position: -352px -397px;}
span.i_20:hover{background-position: -393px -397px;}
span.i_21:hover{background-position: -18px -440px;}
span.i_22:hover{background-position: -60px -440px;}
span.i_23:hover{background-position: -101px -440px;}
span.i_24:hover{background-position: -143px -440px;}
span.i_25:hover{background-position: -185px -440px;}
span.i_26:hover{background-position: -227px -440px;}
span.i_27:hover{background-position: -268px -440px;}
span.i_28:hover{background-position: -310px -440px;}
span.i_29:hover{background-position: -352px -440px;}
span.i_30:hover{background-position: -393px -440px;}
span.i_31:hover{background-position: -18px -482px;}
span.i_32:hover{background-position: -60px -482px;}
span.i_33:hover{background-position: -101px -482px;}
span.i_34:hover{background-position: -143px -482px;}
span.i_35:hover{background-position: -185px -482px;}
span.i_36:hover{background-position: -227px -482px;}
span.i_37:hover{background-position: -268px -482px;}
span.i_38:hover{background-position: -310px -482px;}
span.i_39:hover{background-position: -352px -482px;}
span.i_40:hover{background-position: -393px -482px;}
span.i_41:hover{background-position: -18px -521px;}
span.i_42:hover{background-position: -60px -521px;}
span.i_43:hover{background-position: -101px -521px;}
span.i_44:hover{background-position: -143px -521px;}
span.i_45:hover{background-position: -185px -521px;}
span.i_46:hover{background-position: -227px -521px;}
span.i_47:hover{background-position: -268px -521px;}
span.i_48:hover{background-position: -310px -521px;}
span.i_49:hover{background-position: -352px -521px;}
span.i_50:hover{background-position: -393px -521px;}
span.i_51:hover{background-position: -18px -561px;}
span.i_52:hover{background-position: -60px -561px;}
span.i_53:hover{background-position: -101px -561px;}
span.i_54:hover{background-position: -143px -561px;}
span.i_55:hover{background-position: -185px -561px;}
span.i_56:hover{background-position: -227px -561px;}
span.i_57:hover{background-position: -268px -561px;}
span.i_58:hover{background-position: -310px -561px;}
span.i_59:hover{background-position: -352px -561px;}
span.i_60:hover{background-position: -393px -561px;}
span.i_61:hover{background-position: -18px -596px;}
span.i_62:hover{background-position: -60px -596px;}
span.i_63:hover{background-position: -101px -596px;}
span.i_64:hover{background-position: -143px -596px;}
span.i_65:hover{background-position: -185px -596px;}
span.i_66:hover{background-position: -227px -596px;}
span.i_67:hover{background-position: -268px -596px;}
span.i_68:hover{background-position: -310px -596px;}
span.i_69:hover{background-position: -352px -596px;}
span.i_70:hover{background-position: -393px -596px;}
span.i_71:hover{background-position: -18px -638px;}
span.i_72:hover{background-position: -60px -638px;}
span.i_73:hover{background-position: -101px -638px;}
span.i_74:hover{background-position: -143px -638px;}
span.i_75:hover{background-position: -185px -638px;}
span.i_76:hover{background-position: -227px -638px;}
span.i_77:hover{background-position: -268px -638px;}
span.i_78:hover{background-position: -310px -638px;}
span.i_79:hover{background-position: -352px -638px;}
span.i_80:hover{background-position: -393px -638px;}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min-resolution: 144dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
