span.jqp {
	display: inline-block;
	position: relative;
	margin: 0;
	padding: 0;
}

label.jqp {
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0 0 0 4px;
	padding: 0;
	cursor: text;
	float: none;
	clear: none;
	display: block;
}